# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Certificats locaux pour ne pas pousser de clés privées
infra/certs/
*.key
*.pfx
*.pem
